@charset "UTF-8";

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Noir;
    src: url(./font/Noir_regular.otf);
}

html {
    height: 100%;
}
body {
    font-family: Noir;
    margin: 3em;
    padding: 0;
    min-height: 100vh;
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main {
	width: 100%;
	min-width: fit-content;
    display: flex;
	flex-direction: column;
	justify-content: space-between;
    background: #fff;
    margin: 4em;
    border-radius: 5em;
    overflow: hidden;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.33);
}

.header {
    display: flex;
    flex-direction: column;
    background: mediumseagreen;
    padding: 2em;
    min-width: 600px;
    color: #fff;
    border-bottom: 0.2em solid rgba(0, 0, 0, 0.25);
}

.header .top {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 2em;
}

#logo {
    display: flex;
    width: 20%;
}

#logo img {
    object-fit: contain;
    width: 100%;
}

.header .top .buttons {
	width: 20%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

.header .top .buttons a:nth-child(2) {
	position: relative;
	top: 1px;
	font-size: 0.75em;
	font-weight: 500;
	text-transform: lowercase;
	text-decoration: none;
	margin: 0 -5px 0 2em;
	background: rgba(0,0,0,0.25);
	padding:0.2em 0.5em;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	white-space: nowrap;
}

.header .top .buttons ion-icon {
	position: relative;
	top: 4px;
	font-size: 1.3em;
	color: mediumseagreen;
	background: #fff;
	border-radius: 50%;
	padding: 8px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.15);
}

.header .top a {
	color: white;
    outline: none;
}

.header .top .searchbar {
	display: flex;
	flex-flow: row-reverse;
    justify-content: center;
    align-items: center;
	width: 60%;
	height: 60px;
}

.header .top .searchbar input[type=text] {
	width: 50%;
	height: 40px;
	border: none;
    font-family: Noir;
	font-size: 1em;
	text-align: center;
	text-transform: lowercase;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.header .top .searchbar input[type=text]:focus {
	outline: none;
}

.header .top .searchbar input[type=text]:focus::placeholder {
	color: #fff;
}

.header .top .searchbar button {
	width: 40px;
	height: 40px;
	background: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border: 2px solid rgb(46,134,85);
	border-radius: 50%;
	box-shadow: -8px 0 10px rgba(0,0,0,.15);
	z-index: 1;
}

.header .top .searchbar button:hover {
	background: rgb(46,134,85);
	border-color: white;
}

 .header .top .searchbar button ion-icon {
	 font-size: 2em;
	 color: rgb(46,134,85);
 }

 .header .top .searchbar button:hover ion-icon {
	 color: white;
 }

 .header .top .searchbar div {
	 background: #fff;
	 width: 40px;
	 height: 40px;
	 transform: translateX(-60px);
	 z-index: 0;
 }

.header .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 2em;
}

.header .bottom .link {
    color: #fff;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 100;
    padding-bottom: 0.2em;
    white-space: nowrap;
    margin: 0.2em 0.1em;
}

.header .bottom .link:hover {
    border-bottom: 0.1em dashed rgba(255, 255, 255, 0.45);
}

.header .bottom .link.active {
    border-bottom: 0.1em solid rgba(255, 255, 255, 0.45);
}

.container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
	justify-content: center;
	min-width: fit-content;
}

.container.home {
	flex-direction: column;
}

.container.home .content{
	margin: 1em 0.5em;
}

.container.home .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: #fff;
	border-radius: 2em;
	overflow: hidden;
	box-shadow: 0 0.07em 0.5em rgba(0, 0, 0, 0.25);
	width: 100%;
}

.container.home .content h1 {
	text-align: center;
}

.container.home .content p {
	margin: 0 1em 1em 1em;
	line-height: 1.5em;
}

.container.home .content img {
	width: 100%;
}

.container.home .content a {
	color: mediumseagreen;
}

.product-container {
	display: flex;
	padding: 20px;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background: #fff;
	border-radius: 50px;
	height: fit-content;
	width: 60%;
	box-shadow: 0 1px 3px rgba(0,0,0,.20);
}

.product-container .product {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0;
}

.product-container img {
	width: 50%;
	height: auto;
}

.product-container .description {
	display: flex;
	flex-direction: column;
	width: 50%;
	min-width: 300px;
	height: 100%;
}

.product-container .description .aisle {
	border-radius: 1em 1em 0 0;
	margin-top: 0;
	padding-left: 0.7em;
	background: mediumseagreen;
	color: #fff;
	width: 100%;
	font-weight: 400;
}

.product-container .description p {
	background: #f9f9f9;
	margin: 0.5em 0;
	padding: 0 1em 0.5em 1em;
	border-radius: 0 0 1em 1em;
	box-shadow: 0 2px 3px rgba(0,0,0,.20);
	font-size: 1.3em;
}

.product-container .productbuy {
	width: fit-content;
	margin-top: 1.5em;
}

.product-card {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
    align-items: center;
	margin: 10px;
	padding: 15px;
	border-radius: 2em;
	background: #fff;
	width: 24em;
	height: 24em;
	box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.product-card .productname {
    font-size: 1.75em;
}

.product-card a {
	height: 60%;
    width: 60%;
}

.product-card img {
	height: 100%;
  	width: 100%;
	object-fit: cover;
}

.productbuy {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	min-width: fit-content;
	background: rgba(0,0,0,.05);
	border-radius: 10px;
}

.product-card .productbuy {
	width: 100%;
}

.price {
	white-space: pre;
    padding: 0 0.5em;
    font-size: 1.4em;
}

.productbuy input[type=number] {
	padding: 4px 6px;
	margin: 0;
	font-size: 19px;
	border-radius: 10px;
	border: 3px solid mediumseagreen;
	transform: translateX(-15px);
}

.productbuy input[type=number]:focus {
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	outline-style: none;
}

.productbuy button, .cart-content ul li .cart-content-right button {
	margin: 0 0 0 0.2em;
	border: none;
	text-decoration: none;
	color: #fff;
	padding: 3px 5px;
	background: mediumseagreen;
	border-radius: 10px;
	font-size: 1.5em;
}

.productbuy button:hover, .cart-content ul li .cart-content-right button:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	cursor: pointer;
}

.productbuy button:active, .cart-content ul li .cart-content-right button:active {
	background: rgb(44, 138, 86);
	box-shadow: none;
}

button ion-icon {
	transform: translateY(2px);
}

.dollarsign {
	color: #3CB370;
	text-shadow: 0px 0px 2px #aaa;
	font-weight: 800;
}

.aisle {
    font-size: 2em;
    color: #444;
    outline: none;
    border: none;
    background: #fff;
    padding: 0.5em 0;
    width: 100%;
	border-bottom: 1.4px solid #333;
	box-shadow: 0 2px 2px rgba(0,0,0,.20);
	font-family: Noir;
}


.cart-content {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.cart-content ul {
	padding-left: 0;
	margin-bottom: 0;
}

.cart-content ul li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	border-bottom: 2px dashed #888;
	padding: 0 0 10px 0;
	margin-bottom: 2em;
}

.cart-content .cart-content-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 70%;
	margin-right: 30px;
}

.cart-content ul li .cart-content-left .productname {
	white-space: pre-wrap;
	font-size: 1.1em;
	margin-left: 2em;
	width: fit-content;
}

.cart-content ul li .cart-content-left img {
	object-fit: contain;
	background: #fff;
	padding: 5px;
	max-height: 100%;
	border-radius: 20%;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
}

.cart-content .productbuy {
	width: 30%;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
}
.cart-content .productbuy input[type=number] {
	transform: translateX(0);
}

.cart-content .productbuy a ion-icon {
	transform: translateY(2px);
}

.cart-content .cart-content-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cart-content .cart-content-bottom-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.4em;
	padding-bottom: 30px;
}

.cart-content .cart-content-bottom .subtotal {
	color: #aaa;
	font-weight: 200;
	font-size: 17px;
	font-style: italic;
}

.cart-content .cart-content-bottom-right .total {
	color: #888;
	font-weight: 400;
}

.cart-content .cart-content-bottom-right .total .price {
	color: #000;
	font-weight: 500;
}

.cart-content .cart-nav {
	display: flex;
	justify-content: space-between;
}

.cart-content .cart-nav button {
	display: flex;
	align-items: center;
	background: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border: 2px solid rgb(46,134,85);
	border-radius: 30px;
	font-size: 1.3em;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
	color: rgb(46,134,85);
	padding: 10px;
	text-decoration: none;
}

.cart-content .cart-nav button:hover  {
	background: rgb(46,134,85);
	border-color: white;
	color: white;
}

.cart-content .cart-nav button ion-icon {
	margin: 0 10px 0 0;
	font-size: 1.2em;
}


.cart-content .cart-nav button:last-child {
	flex-direction: row-reverse;
}

.cart-content .cart-nav button:last-child ion-icon {
	margin: 0 0 0 10px;
}

.cart-content ul li .cart-content-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	width: 5em;
}

.receipt-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	background: #fff;
	margin: 20px 0;
	border-radius: 50px;
	min-width: 700px;
	box-shadow: 0 1px 3px rgba(0,0,0,.20);
}

.receipt-card h1 {
	border-bottom: 2px solid mediumseagreen;
	box-shadow: 0 1pt 0 0 rgb(46,134,85);
	padding: 20px 30%;
}

.receipt-card img {
	height: 44px;
}

.content.signup, .content.signin {
	display: flex;
	flex-direction: column;
	align-content: center;
	background: #fff;
	margin: 20px 15px;
	padding: 3em;
	border-radius: 50px;
	min-width: 40%;
	box-shadow: 0 1px 3px rgba(0,0,0,.20);
}

.content.signup {
	background: mediumseagreen;
	color: #fff;
}

.content.signup form input {
	border: none;
}

.content form {
	display: flex;
	flex-direction: column;
	font-size: 1.2em;
	margin-top: 1em;
}

.content form label {
	margin: 0.5em 0;
	padding-left: 0.5em;
}

.content form a {
	color: #888;
	font-size: 0.5em;
	text-align: right;
	width: 98%;	
}

.content form input, textarea {
	border-radius: 1em;
	border: 2px solid black;
	outline-style: none;
	padding: 0 0.5em;
	font-size: 1em;
	height: 1.8em;
}

.content form input[type=submit] {
	margin-top: 10%;
	background: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border: 2px solid rgb(46,134,85);
	border-radius: 30px;
	font-size: 1.3em;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
	color: rgb(46,134,85);
}

.content form input[type=submit]:hover {
	background: rgb(46,134,85);
	border-color: white;
	color: white;
}

.content.add {
	display: flex;
	flex-direction: column;
	align-content: center;
	background: #fff;
	margin: 20px 15px;
	padding: 3em;
	border-radius: 50px;
	min-width: 40%;
	box-shadow: 0 1px 3px rgba(0,0,0,.20);
}

.content.add {
	background: mediumseagreen;
	color: #fff;
}

.content.add form input, textarea {
	border: none;
}

.content.add form input[type=file] {
	display: flex;
	background: rgba(0, 0, 0, 0.25);
	color: white;
}

.addproductbutton {
	display: flex;
	height: 2em;
	width: 100%;
	background: mediumseagreen;
	color: white;
	text-decoration: none;
	align-items: center;
	justify-content: center;
	border-radius: 1em;
	font-size: 1.5em;
	padding: 0 0.2em;
	white-space: nowrap;
	margin-bottom: 1em;
}

.addproductbutton ion-icon {
	height: 2em;
	margin-right: 0.5em;
}

.content.add .top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.back-btn {
	background: transparent;
	border-style: none;
	width: fit-content;
	font-size: 2em;
	margin: 0;
	padding: 0;
	color: white;
	cursor: pointer;
}

footer {
    margin: 0;
	width: 100%;
	background-color: #333333;
	white-space: nowrap;
}

footer p {
	color: white;
	font-size: 1em;
	text-align: center;
	text-shadow: 0px 2px 3px #000;
    padding: 0 2.5em;
    white-space: pre-wrap;
}