@charset "UTF-8";
* {box-sizing: border-box;}

html {
	position: relative;
	min-height: 100%;
}

body {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 20px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
}

div {
	display: block;
}

.topbar {
	display: flex;
	overflow: hidden;
	background: mediumseagreen;
	border-bottom: 2px solid rgba(0,0,0,.25);
	justify-content: space-around;
	align-items: center;
}

.topbar #logo img {
	height: 90%;
	width: 90%;
	object-fit: contain;
}

.topbar #logo {
	display: flex;
	margin: 0;
	width: 20%;
	height: 60px;
	justify-content: center;
	align-items: center;
}

.topbar .buttons {
	width: 20%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	color: #fff;
}

.topbar .buttons a:nth-child(1) {
	position: relative;
	top: 1px;
	font-size: 0.75em;
	font-weight: 500;
	text-transform: lowercase;
	text-decoration: none;
	margin-right: -5px;
	background: rgba(0,0,0,0.25);
	padding: 0 10px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.topbar .buttons ion-icon {
	position: relative;
	top: 4px;
	font-size: 1.3em;
	color: mediumseagreen;
	background: #fff;
	border-radius: 50%;
	padding: 8px;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.15);
}

.topbar a {
	color: white;
	outline: none;
}

.topbar .searchbar {
	display: flex;
	flex-flow: row-reverse;
	justify-content: center;
	width: 60%;
	height: 40px;
}

.topbar .searchbar input[type=text] {
	width: 50%;
	height: 100%;
	border: none;
	font-size: 1em;
	text-align: center;
	text-transform: lowercase;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.topbar .searchbar input[type=text]:focus {
	outline: none;
}

.topbar .searchbar input[type=text]:focus::placeholder {
	color: #fff;
}

.topbar .searchbar button {
	width: 40px;
	height: 100%;
	background: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border: 2px solid rgb(46,134,85);
	border-radius: 50%;
	box-shadow: -8px 0 10px rgba(0,0,0,.15);
	z-index: 1;
}

.topbar .searchbar button:hover {
	background: rgb(46,134,85);
	border-color: white;
}

 .topbar .searchbar button ion-icon {
	 font-size: 2em;
	 color: rgb(46,134,85);
 }

 .topbar .searchbar button:hover ion-icon {
	 color: white;
 }

 .topbar .searchbar div {
	 background: #fff;
	 width: 40px;
	 height: 40px;
	 transform: translateX(-60px);
	 z-index: 0;
 }

.main {
	display: flex;
	flex-direction: row;
	min-height: calc(100vh - 120px);
	justify-content: space-between;
}

#sidenav {
	background: rgba(60,179,112,0.20);
	margin: 0;
	padding: 0px 40px 0 0;
	box-shadow: 2px 0px 4px rgba(0,0,0,.25);
	z-index: 2;
}

#sidenav ul {
	display: block;
	padding-left: 25px;
}

#sidenav li {
	display: block;
	margin: 0 0 5px 0;
	padding: 0;
	white-space: nowrap;
}

#sidenav .link {
	text-transform: lowercase;
	text-decoration: none;
	color: black;
}

#sidenav .link:hover {
	border-bottom: 1px dotted black;
}

#sidenav .active {
	border-bottom: 1px solid black;
}

#sidenav .active:hover{
	border-bottom: 1px solid black;
	cursor: default;
}

.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 0 0 10px 0;
}

.accordion {
	flex-direction: row;
	background: white;
	color: #444;
	cursor: pointer;
	padding: 5px 15px;
	margin: 25px 0 0 0;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 20px;
	transition: 0.4s ease-in-out;
	border-bottom: 1.4px solid #333;
	box-shadow: 0 2px 2px rgba(0,0,0,.20);
	z-index: 1;
}

.accordion.active, .accordion.inactive, .accordion:hover {
	border-bottom: 3px solid #3CB370;
	box-shadow: 0 2px 3px rgba(0,0,0,.20);
}

.accordion.inactive {
	text-align: center;
	font-size: 2em;
	padding-bottom: 25px;
	pointer-events: none;
}

.pre-container {
	padding: 0 18px;
	display: block;
	background-color: white;
}

.container {
	display: flex;
	padding: 20px;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
	background: #eee;
	border-radius: 0px 0px 10px 10px;
}

.product-card {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	background: #fff;
	aspect-ratio: 1;
	width: 340px;
	height: 340px;
	box-shadow: 0px 2px 4px rgba(0,0,0,.25);
}

.product-card img {
	max-height: 60%;
  	min-width: 60%;
	object-fit: contain;
	vertical-align: center;
}

.productbuy {
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background: rgba(0,0,0,.05);
	border-radius: 10px;
}

.price {
	white-space: pre;
	padding-left: 10px;
}

.productbuy input[type=number] {
	padding: 4px 6px;
	margin: 0;
	font-size: 19px;
	border-radius: 10px;
	border: 3px solid mediumseagreen;
	transform: translateX(-15px);
}

.productbuy input[type=number]:focus {
	box-shadow: 0 0 5px rgba(0,0,0,.25);
	outline-style: none;
}

.productbuy a {
	text-decoration: none;
	color: #fff;
	padding: 3px 5px;
	background: mediumseagreen;
	border-radius: 10px;
	font-size: 1.3em;
}

.productbuy a:hover {
	box-shadow: 0 0 5px rgba(0,0,0,.25);
}

.productbuy a:active {
	background: rgb(44, 138, 86);
	box-shadow: none;
}

.dollarsign {
	color: #3CB370;
	text-shadow: 0px 0px 2px #aaa;
	font-weight: 800;
}

.cart-content {
	display: flex;
	flex-direction: column;
	width: 90%;
}

.cart-content ul {
	padding-left: 0;
	margin-bottom: 0;
}

.cart-content ul li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 5em;
	border-bottom: 2px dashed #888;
	padding: 0 0 10px 0;
	margin-bottom: 2em;
}

.cart-content ul li:last-child {
	box-sizing: content-box;
	height: 88px;
	border-bottom: 3px solid mediumseagreen;
	box-shadow: 0 1pt 0 0 rgb(46,134,85);
	padding-bottom: 30px;
}

.cart-content .cart-content-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	width: 70%;
	margin-right: 30px;
}

.cart-content ul li .cart-content-left .productname {
	white-space: pre;
	font-size: 1.1em;
	margin-left: 2em;
	width: fit-content;
}

.cart-content ul li .cart-content-left img {
	object-fit: contain;
	background: #fff;
	padding: 5px;
	max-height: 100%;
	border-radius: 20%;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
}

.cart-content .productbuy {
	width: 30%;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
}
.cart-content .productbuy input[type=number] {
	transform: translateX(0);
}

.cart-content .productbuy a ion-icon {
	transform: translateY(2px);
}

.cart-content .cart-content-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.cart-content .cart-content-bottom-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 1.4em;
	padding-bottom: 30px;
}

.cart-content .cart-content-bottom .subtotal {
	color: #aaa;
	font-weight: 200;
	font-size: 17px;
	font-style: italic;
}

.cart-content .cart-content-bottom-right .total {
	color: #888;
	font-weight: 400;
}

.cart-content .cart-content-bottom-right .total .price {
	color: #000;
	font-weight: 500;
}

.cart-content .cart-nav {
	display: flex;
	justify-content: space-between;
}

.cart-content .cart-nav a {
	display: flex;
	align-items: center;
	background: white;
	border: none;
	cursor: pointer;
	transition: all 0.2s;
	border: 2px solid rgb(46,134,85);
	border-radius: 30px;
	font-size: 1.3em;
	box-shadow: 0px 1px 3px rgba(0,0,0,.20);
	color: rgb(46,134,85);
	padding: 10px;
	text-decoration: none;
}

.cart-content .cart-nav a:hover {
	background: rgb(46,134,85);
	border-color: white;
	color: white;
}

.cart-content .cart-nav a ion-icon {
	margin: 0 10px 0 0;
	font-size: 1.2em;
}


.cart-content .cart-nav a:last-child {
	flex-direction: row-reverse;
}

.cart-content .cart-nav a:last-child ion-icon {
	margin: 0 0 0 10px;
}

.receipt-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	background: #fff;
	margin: 20px 0;
	border-radius: 50px;
	min-width: 700px;
	box-shadow: 0 1px 3px rgba(0,0,0,.20);
}

.receipt-card h1 {
	border-bottom: 2px solid mediumseagreen;
	box-shadow: 0 1pt 0 0 rgb(46,134,85);
	padding: 20px 30%;
}

.receipt-card img {
	height: 44px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #333333;
	white-space: nowrap;
}

footer p {
	color: white;
	font-size: 15px;
	text-align: center;
	text-shadow: 0px 2px 3px #000;
	padding: 0 20px;
}